@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <div style="text-align: center;">
        @ViewBag.Greeting, World
  </div>
</body>
</html>
